include common/logo/logo.pug

mixin colors(colors)
  div(class='colors')
    - for (let color of colors)
        div(class='colors__color')
          div(class='colors__example'+' colors__example_'+color.css)
          div(class='colors__description')
            span(class='colors__title') #{color.title}
            span(class='colors__value') #{color.value}
            
mixin type(type)
  div(class='type')
    - for (let item of type)
      div(class='type__item')
        if item.title != 'body'
          #{item.title}(class='type__title') #{item.title}
          #{item.title}(class='type__example') #{item.text}
        else
          p(class='type__title') #{item.title}
          p(class='type__example') #{item.text}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Colors & Type
  body
    div(class='colors-type__logo')
      +logo({image: 'icon.png'})
    div(class='colors-type__content')
      +colors([
        {
          title: 'dark shade 100%',
          value: '#1F2041',
          css: 'dark-shade_100'
        },
        {
          title: 'dark shade 75%',
          value: '#1F2041',
          css: 'dark-shade_75'
        },
        {
          title: 'dark shade 50%',
          value: '#1F2041',
          css: 'dark-shade_50'
        },
        {
          title: 'dark shade 25%',
          value: '#1F2041',
          css: 'dark-shade_25'
        },
        {
          title: 'dark shade 5%',
          value: '#1F2041',
          css: 'dark-shade_5'
        },
        {
          title: 'purple',
          value: '#BC9CFF',
          css: 'purple'
        },
        {
          title: 'green',
          value: '#6FCF97',
          css: 'green'
        }
      ])
      +type([
        {
          title: 'h1',
          text: 'This one is the sub-section or widget title'
        },
        {
          title: 'h2',
          text: 'Next one is the item title inside widgets'
        },
        {
          title: 'h3',
          text: 'This is a label or CTA text'
        },
        {
          title: 'body',
          text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
        }
      ])
