include common/dropdown/dropdown.pug
include common/calendar/calendar.pug
include common/button/button.pug

mixin payment(options)
  .payment
    .payment__info
      .payment__room
        p №&nbsp;  
        p #{options.number}
        p #{options.type}
      .payment__price
        p #{options.cost}₽&nbsp;
        p в сутки
    .payment__element
      +calendar({
        titles: ['прибытие', 'выезд'],
        dates: ['2019,08,19', '2019,08,23'],
        placeholder: 'ДД.ММ.ГГГГ'
      })
    .payment__element
      .payment__titles
        h3 гости
      +dropdown({
        type: 'guests',
        items: [
          {name: 'взрослые', count: 2},
          {name: 'дети', count: 1},
          'младенцы'
        ]
      })
    .payment__element
      .payment__cost
        .payment__text
        .payment__count
      .payment__fee
        .payment__wrapper
          .payment__text Сбор за услуги: скидка #{options.discount}₽ 
          .payment__tooltip i
        .payment__count #{options.fee}₽
      .payment__additional-fee
        .payment__wrapper
          .payment__text Сбор за дополнительные услуги
          .payment__tooltip i
        .payment__count #{options.additionalFee}₽
    .payment__result 
      div Итого
      .payment__separator
      .payment__count
    +button({
      theme: 'arrow',
      text: 'забронировать'
    })
