mixin poll(options)
  -
    let allCount = options.awesome || options.good || options.fair || options.bad ?
                   options.awesome + options.good + options.fair + options.bad : 0;

  .poll(data-count=allCount)
    .poll__circle
      svg(width=120 height=120 viewbox='0 0 100 100')
        circle.poll__good(data-count=options.good ? options.good : 0)
        circle.poll__awesome(data-count=options.awesome? options.awesome : 0)
        circle.poll__fair(data-count=options.fair ? options.fair : 0)
        circle.poll__bad(data-count=options.bad ? options.bad : 0)
        circle.poll__good-border
        circle.poll__awesome-border
        circle.poll__fair-border
        circle.poll__bad-border
      .poll__counter
        p #{allCount}
        p голосов
    .poll__items
      each item in ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован']
        .poll__item
          .poll__color
          p #{item}
