include common/logo/logo.pug
include common/button/button.pug

mixin header(options)
  -
    let isLogged = options?.logged ? options.logged : false;
    let menuItems = [
      {
        name: 'о нас',
        link: '#',
      },
      {
        name: 'услуги',
        link: '#',
        submenu: [
          {
            name: 'Найти номер',
            link: '#'
          },
          {
            name: 'Заказать номер',
            link: '#'
          },
          {
            name: 'Список номеров',
            link: '#'
          }
        ]
      },
      {
        name: 'вакансии',
        link: '#'
      },
      {
        name: 'новости',
        link: '#'
      },
      {
        name: 'соглашения',
        link: '#',
        submenu: [
          {
            name: 'соглашение',
            link: '#'
          },
          {
            name: 'соглашение',
            link: '#'
          },
          {
            name: 'соглашение',
            link: '#'
          }
        ]
      }
    ];
    if (options?.focused >= 0) {menuItems[options.focused].focused = true};

  header.header
    .header__logo
      +logo({image: 'logo'})
    .header__content
      .header__mobile-menu.material-icons.unselect(tabindex=0) menu
      nav.header__menu
        each item in menuItems
          -
            let hasSubmenu = item.submenu ? true : false;
            let linkAttrs = {
              ...(item.focused === true && {class: 'header__menu-link_focused'}),
              ...(item.link && {href: item.link})
            }
          if hasSubmenu
            a.header__menu-link.header__menu-link_arrow&attributes(linkAttrs)
              span #{item.name}
              span.material-icons expand_more
            .header__submenu
              each element in item.submenu
                a.header__menu-link(href=element.link) #{element.name}
          else
            a.header__menu-link&attributes(linkAttrs)
              span #{item.name}
        if (isLogged === false)
          a.header__menu-link.header__menu-link_mobile
            span Войти
          a.header__menu-link.header__menu-link_mobile
            span Зарегистрироваться
        else
          a.header__menu-link.header__menu-link_mobile(href='#') #{options.account}
      if (isLogged === false)
        .header__buttons
          +button({
            text: 'войти',
            theme: 'white',
            height: 34,
            link: './login.html'
          })
          +button({
            text: 'Зарегистрироваться',
            height: 34,
            link: './registration.html'
            })
      else
        .header__account
          span.header__separator
          a(href='#') #{options.account}
