mixin menu(items)
  nav(class='menu')
    each item in items
      -
        let hasSubmenu = item.submenu ? true : false;
        let isFocus = item.focused === true ? ' menu__link_focused' : '';
      div(class='menu__content')
        if hasSubmenu
          a(class='menu__link'+isFocus)
            span(class='menu__name') #{item.name}
            span(class='material-icons') expand_more
          div(class='menu__submenu')
            each sub in item.submenu
              a(href=sub.link) #{sub.name}
        else
          a(class='menu__link'+isFocus href=item.link)
            span(class='menu__name') #{item.name}
            
        
